<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/loginStyle.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>The Highest State</h1>
        <a class="user" href="/users/new">Create New User</a> CO
        <a class="user" href="/sessions/new">Log In</a><br/>
      </div>
      <form action="/events2/<%=event2.id%>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%=event2.title%>"/><br/>
        Image: <input type="text" name="img" value="<%=event2.img%>"/><br/>
        Description: <input type="text" name="description" value="<%=event2.description%>"/><br/>
        Rating: <input type="number" name="rating" value="<%=event2.rating%>"/><br/>
        <input type="submit" value="Submit Changes">
      </form>
  </body>
</html>
