<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Page</h1>
    <form action="/events4/<%=event4.id%>?_method=PUT" method="POST">
      Title: <input type="text" name="title" value="<%=event4.title%>"/><br/>
      Image: <input type="text" name="img" value="<%=event4.img%>"/><br/>
      Description: <input type="text" name="description" value="<%=event4.description%>"/><br/>
      Rating: <input type="number" name="rating" value="<%=event4.rating%>"/><br/>
      <input type="submit" value="Submit Changes">
    </form>
  </body>
</html>
