<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The Highest State</h1>
    <a href="/users/new">Create New User</a> ||
    <a href="/sessions/new">Log In</a>
    <ul>
      <% for(let i = 0; i < events4.length; i++) { %>
        <li>
          <a href="/events4/<%=events4[i].id; %>"><%=events4[i].title; %></a><br/>
          <img src="<%=events4[i].img; %>"><br/>
          Description: <%=events4[i].description; %><br/>
          Rating: <%=events4[i].rating; %><br/>
          <form action="/events4/<%=events4[i].id; %>?_method=DELETE" method="POST">
          <input type="submit" name="" value="Delete this Event"/>
          </form>
          <a href="/events4/<%=events4[i].id; %>/edit">Edit</a>
        </li>
      <% } %>
    </ul>
    <nav>
      <a href="/events4/new">Create New Event</a>
    </nav>
  </body>
</html>
