<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/seasonStyle.css">
  </head>
  <body>
    <div class="header">
      <h1>The Highest State</h1>
      <a class="user" href="/users/new">Create New User</a> CO
      <a class="user" href="/sessions/new">Log In</a><br/>
    </div>
    <ul class="list-inline">
      <% for(let i = 0; i < events4.length; i++) { %>
        <li class="list-inline-item">
          <a class ="title" href="/events4/<%=events4[i].id; %>"><%=events4[i].title; %></a><br/>
          <img class="img" src="<%=events4[i].img; %>"><br/>
          <form action="/events4/<%=events4[i].id; %>?_method=DELETE" method="POST">
          <input class="delete" type="submit" name="" value="Delete this Event"/>
          </form>
          <a class="edit" href="/events4/<%=events4[i].id; %>/edit">Edit</a><br/>
        </li>
      <% } %>
    </ul>
    <nav>
      <a href="/events4/new">Create New Event</a>
    </nav>
  </body>
</html>
